main {
    padding-bottom: 64px !important;
    color: rgb(var(--v-theme-text-dark-blue)) !important;
}

.v-card {
    color: rgb(var(--v-theme-text-dark-blue)) !important;
}

header {
    height: auto !important;
    left: 0 !important;
    position: relative !important;
}

h3 {
    color: rgb(var(--v-theme-secondary));
}

h4 {
    color: rgb(var(--v-theme-primary));
}

.clickable {
    cursor: pointer;
}